h1{
    text-align: center;
    color: white;
    background-color: black;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
td {
    padding: 10px;
}
.casi-primo {
    background-color: yellow;
}

button{
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    display: block;
    margin: 0 auto;
    color: white;
    background-color: rgb(98, 14, 14);
    border-radius: 8px;
    padding: 0.5em 0.5em;
}

button:hover{
    background-color: rgb(64, 18, 18);
}