@import url('../../../../../assets/css/variables.css');

#quiz-container,
#dialog-container {
    position: absolute;
    bottom: 20px;
    display: none;
    flex-direction: column;
    gap: 20px;
    border: 2px solid var(--color-primary);
    border-radius: 15px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
}

#question,
#dialog {
    font-size: 30px;
    font-weight: bold;
}

#answers-container,
#dialog-buttons-container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.answer,
.dialog-button {
    border: 2px solid var(--color-primary);
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    padding: 15px;
}

.answer:hover,
.dialog-button:hover {
    cursor: pointer;
    background-color: var(--color-primary);
    color: white;
}
