@import url('../../../../../assets/css/variables.css');

/* Ocultar por defecto */
#virtual-controller {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}

/* Mostrar solo en móviles */
@media (max-width: 767px),
(any-pointer: coarse) {
  #virtual-controller {
    display: flex;
    justify-content: center;
    pointer-events: none;
  }

  .container-controllers {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    max-width: 500px;
  }

  .directions-controllers {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: repeat(3, 60px);
    gap: 10px;
    pointer-events: auto;
  }

  .directions-controllers .button,
  .actions-controllers .button {
    width: 60px;
    height: 60px;
    background-color: rgba(48, 44, 44, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }

  .button img {
    width: 30px;
    height: 30px;
  }

  .directions-controllers .spacer {
    width: 60px;
    height: 60px;
  }

  .actions-controllers {
    pointer-events: auto;
  }
}
