/* WIKI */
@import url('../../../../../assets/css/variables.css');

#wiki-container .modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo semi-transparente */
}

/* Modal Content/Box */
#wiki-container .modal-content {
    background-color: #005481;
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 20px;
    border: 2px solid var(--color-primary);
    /* Borde primario */
    border-radius: 15px;
    /* Borde redondeado */
    width: 90%;
    height: 90%;
    font-family: var(--font-family);
    /* Fuente del juego */
    color: white;
    /* Color del texto */
}

/* The Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-primary);
    /* Color primario */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--color-secondary);
    /* Color secundario al pasar el ratón */
    text-decoration: none;
}

#wikiContent {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1.6;
    height: calc(100% - 60px);
    /* Ajuste para el espacio del título */
    position: relative;
}

.modal-content .title {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: var(--color-primary);
    font-family: var(--font-family);
    /* Color primario */
}

#wikiContent h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-primary);
    /* Color primario */
}

#wikiContent ul {
    margin-left: 20px;
}

#wikiContent li {
    margin-bottom: 5px;
}

#wikiContent li .resaltar {
    color: var(--color-primary);
}


.questions-container {
    flex: 2;
    overflow-y: auto;
    padding-right: 15px; /* Espacio para que no se peguen a la imagen */
}

.questions-container li{
    border: 2px solid var(--color-primary);
    padding: 0.5em;
    border-radius: 8px;
    list-style: none;
    background: #1b1b1bab;
}

html .questions-container{
  scrollbar-width: thin;              /* "auto" | "thin" | "none" */
  scrollbar-color: #ecd927 transparent; /* color del thumb y del track */
}



/* Aplica a toda la web */
.questions-container::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra vertical */
  height: 6px; /* Alto de la barra horizontal */
}

.questions-container::-webkit-scrollbar-track {
  background: transparent; /* Fondo del track */
}

.questions-container::-webkit-scrollbar-thumb {
  background-color: #ecd927; /* Color del scroll */
  border-radius: 10px;       /* Bordes redondeados */
  border: 2px solid transparent; /* Para efecto de separación */
  background-clip: content-box;  /* Para que no tape el borde */
}


.sabio-wiki {
    height: auto;
    max-height: 95vh;
    width: 22%;
    max-width: 500px;
    margin: 0 auto;
    padding-left: 1em;
    align-self: flex-start;
}